#!/usr/bin/make -f

include /usr/share/cli-common/cli.make

override_dh_auto_build:
	xbuild $(CURDIR)/Splatter.sln

override_dh_auto_install:
	install -D -m0755 $(CURDIR)/debian/splatter.sh $(CURDIR)/debian/splatter/usr/bin/splatter

override_dh_auto_clean:
	find $(CURDIR) -type d -name bin -empty -exec rm -rf {} \;
	find $(CURDIR) -type d -name obj -empty -exec rm -rf {} \;

%:
	dh $@
